.password-dropdown{
    width: 200px;
    height: 100px;
    margin-top: 10px;
}
.password-dropdown .h2{
    font-size: 15px;
    margin-left: 10px;
    font-weight: 400;
    margin-left: 40px;
    letter-spacing: 1px;
}
.password-dropdown .p1{
    width: 100%;
    border-radius: 50px;
    margin-top: 10px;
    height: 30px;
    outline: none;
    border: 1px solid #150101;
    padding: 12px 14px;
    margin-left: 20px;
}
.password-dropdown .p2{
     width: 100%;
    border-radius: 50px;
    margin-top: 10px;
    height: 30px;
    outline: none;
    border: 1px solid #150101;
    padding: 12px 14px;
    margin-left: 20px;
}
.password-dropdown .p3{
    width: 100%;
    border-radius: 50px;
    margin-top: 10px;
    height: 30px;
    outline: none;
    border: 1px solid #150101;
    padding: 12px 14px;
    margin-left: 20px;
}
.password-dropdown .c1{
    margin-top: 10px;
    width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #6a5cff, #4facfe);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(79, 172, 254, 0.4);
  transition: all 0.3s ease;
   margin-left: 20px;
}
.password-dropdown .c1:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 18px rgba(79, 172, 254, 0.55);
}
.password-dropdown .c1:active {
  transform: scale(0.98);
}
