.pass{
    min-height: 100vh;
    width: 100%;
    margin:0;
    padding:0;
    background: linear-gradient(135deg, #FF4D00, #FF2A00);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pass .card {
    width: 400px;
    background: white;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    height: 500px;
}
 .pass .h5{
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.pass .input-label{
    display: block;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 550;
}
.pass .input-field{
    width: 100%;
    border-radius: 50px;
    margin-top: 30px;
    height: 35px;
    outline: none;
    border: 1px solid #150101;
    padding: 12px 14px;
}
.pass .reset-btn{
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #FF4D00, #FF2A00);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 30px;
}
.reset-btn:hover {
  background: #e84300;
}
card p {
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
}

