.simple-navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 100px; /* spacing between headings */
  color: white;
}

.simple-navbar h3 {
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

