
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.container-1 {
  display: flex;
   flex-direction: column;
  align-items: center; /* Main container horizontally centered */
  width: 100%;
  gap: 20px;
}

.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: #111827;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

/* LEFT side Hamburger */
.ham-box {
  margin-left: 10px;       /* 👈 Hamburger left se 10px */
}

/* 50px ka gap between Hamburger and Navbar */
.ham-box + .navbar-box {
  margin-left: 450px;       /* 👈 EXACT 50px ka space */
}

/* Navbar full width cover kare upar */
.navbar-box {
  flex: 1;                 /* 👈 Navbar full remaining space le lega */
}

.main-container {
  width: 60%;
  margin: 150px auto;
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
  margin-right: 200px;
}

.heading-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.heading-box h2 {
  font-size: 28px;
  font-weight: bold;
  color: #222;
}

.heading-icon {
  color: #3b82f6;
}

.big-input-box {
  width: 100%;
  margin-bottom: 10px;
}

.fixed-textarea {
  width: 100%;
  height: 280px;
  padding: 15px;
  font-size: 18px;
  border-radius: 12px;
  border: 2px solid #e5e7eb;
  outline: none;
  resize: none;
  transition: 0.2s;
}

.fixed-textarea:focus {
  border-color: #3b82f6;
  box-shadow: 0px 0px 10px rgba(59, 130, 246, 0.3);
}

.char-count {
  text-align: right;
  font-size: 15px;
  color: #555;
  margin-top: -30px;
}

.analyze-btn {
  width: 100%;
  padding: 15px;
  background: linear-gradient(45deg, #2563eb, #1d4ed8);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 30px;
}

.analyze-btn:hover {
  background: linear-gradient(45deg, #1d4ed8, #1e40af);
}

.spin {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loader-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.analyze-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.result-box {
  margin-top: 20px;
  background: #f7f7f7;
  border-left: 5px solid #4c82ff;
  padding: 15px;
  border-radius: 10px;
}
.clear-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.clear-btn {
  padding: 2px 8px;
  background: linear-gradient(45deg, #2563eb, #1d4ed8);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}

.clear-btn:hover {
  background: linear-gradient(45deg, #1e40af, #1d4ed8);
}
