
.hamburger{
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.hamburger span {
  height: 2px;
  width: 70%;
  border-radius: 4px;
}
.line1{
    background: white;
}
.line2{
    background: white;
}
.line3{
    background: white;
}
.search-box{
    margin-top: 8px;
    border-radius: 10px;
}
.hamburger-menu{
 position: absolute;
  margin-top: 30px;
  left: 10px;  
  width: 150px;
  background-color: rgb(251, 242, 242); 
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 10px;
 z-index: 100;
 font-weight: 100;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hamburger-menu p{
    margin: 0;
    cursor: pointer;
     transition: background-color 0.2s ease;
}
.hamburger-menu p:hover {
  background-color: #f0f0f0;
}
.login-row {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    }

